extends ./layouts/layout.jade

block content
  .row
    .col-sm-12
      h2 Let's play some Video Poker!
      p.result Do your best
      .hand
        .card.card-1
        .card.card-2
        .card.card-3
        .card.card-4
        .card.card-5
      .buttons
        a.btn.btn-primary.deal New Game
        a.btn.btn-primary.draw Draw
        //- a.btn.btn-primary.test Test
