extends ./layouts/layout.jade

block content
  .row
    .col-sm-12
      h2 Hyprtxt Video Poker
      p Hyprtxt Video Poker comes in 3 flavors, Classic Mode, Kiddie Mode, and Trainer Mode.
    .col-md-4
      h3 Classic Mode
      p Classic mode is regular Full Pay Jacks or Better Video Poker.
      //- p Start with 100 credits and aim to win big. You're on your own!
      a.btn.btn-danger-outline.btn-lg.btn-block(href='/classic') Classic Mode
    .col-md-4
      h3 Kiddie Mode
      p Kiddie mode is the same a Classic Video Poker, but you get a handy Auto Simple Strategy button.
      p You can make your move, and easily check your strategy. Or just let the computer play for you.
      a.btn.btn-danger-outline.btn-lg.btn-block(href='/kiddie') Kiddie Mode
    .col-md-4
      h3 Trainer Mode
      p Trainer mode teaches you the Simple Strategy for full pay Jacks or Better Video Poker.
      p Credits don't matter in this game, the goal is play your hands correctly.
      a.btn.btn-danger-outline.btn-lg.btn-block(href='/trainer') Trainer Mode

block global
